<div class="content-heading">
  客户管理列表
</div>
<div class="panel">
  <div class="panel-body">
    <form class="form-inline" role="form">
      <div class="form-group">
        <input class="form-control" name="name" type="text" [(ngModel)]="entity.name" placeholder="名称"/>
      </div>
      <div class="form-group">
        <select id="proxyId" name="proxyId" class="form-control" [(ngModel)]='entity.proxyId' (change)="list(entity)">
          <option *ngFor="let item of proxys" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
      <button class="btn btn-default btn-primary" type="button" (click)="list(entity)">查询</button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>pin</th>
      <th>昵称</th>
      <th>代理商</th>
      <th>邮箱</th>
      <th>手机</th>
      <th>性别</th>
      <th>状态</th>
      <th>生日</th>
      <th>创建时间</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of listData.list">
      <tr>
        <td><a routerLink="/system/user/view" [queryParams]="{id:item.id}">{{item.pin}}</a></td>
        <td>{{item.nickName}}</td>
        <td>{{proxyParse(item.proxyId,proxys)}}</td>
        <td>{{item.email}}</td>
        <td>{{item.phone}}</td>
        <td>{{valuePare(item.sexType,sexTypes)}}</td>
        <td>{{valuePare(item.status,statuses)}}</td>
        <td>{{item.birthDay}}</td>
        <td>{{item.createTime}}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>

<div class="text-right">
  <pagination class="pagination-sm" [(ngModel)]="pageIndex" [totalItems]="listData.totalCount"
              (pageChanged)="onPageChange($event)"></pagination>
</div>
