<div class="content-heading">
  代理商代理游戏列表
</div>
<div class="panel">
  <div class="panel-body">
    <form class="form-inline" role="form">
      <button class="btn btn-default btn-primary" type="button" (click)="list(entity)">查询</button>
      <a class="btn btn-default" routerLink="/system/proxyBiz/view" [queryParams]="{proxyId:proxyId}">
        <strong>添加</strong>
      </a>
      <a class="btn btn-default" routerLink="/system/proxy/list">返回</a>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>id</th>
      <th>代理</th>
      <th>游戏</th>
      <th>开始时间</th>
      <th>结束时间</th>
      <th>状态</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of listData.list">
      <tr>
        <td><a routerLink="/system/proxyBiz/view" [queryParams]="{id:item.id}">{{item.id}}</a></td>
        <td>{{proxyParse(item.proxyId,proxys)}}</td>
        <td>{{gametypeParse(item.bizType,gametypes)}}</td>
        <td>{{item.startTime}}</td>
        <td>{{item.endTime}}</td>
        <td>{{valuePare(item.status,statuses)}}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
<div class="text-right">
  <pagination  class="pagination-sm"   [(ngModel)]="pageIndex" [totalItems]="listData.totalCount" (pageChanged)="onPageChange($event)" ></pagination>
</div>
