<div class="content-heading">
  server配置列表
</div>
<div class="panel">
  <div class="panel-body">
    <form class="form-inline" role="form">
      <div class="form-group">
        <input class="form-control" name="gameId" type="text" [(ngModel)]="entity.gameId" placeholder="gameId" />
      </div>
      <button class="btn btn-default btn-primary" type="button" (click)="list(entity)">查询</button>
      <a class="btn btn-default" routerLink="/system/server/view">
        <strong>添加</strong>
      </a>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>代理商</th>
      <th>游戏类型</th>
      <th>游戏ID</th>
      <th>域名</th>
      <th>port</th>
      <th>development</th>
      <th>serverId</th>
      <th>是否启动</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of listData.list">
      <tr>
        <td>{{valuePare(item.proxyId,proxyes)}}</td>
        <td>
          <ng-container *ngIf="item.gameType==1">棋牌</ng-container>
          <ng-container *ngIf="item.gameType==2">彩票</ng-container>
          <ng-container *ngIf="item.gameType==3">农场</ng-container>
        </td>
        <td>{{item.gameId}}</td>
        <td>{{item.ip}}</td>
        <th>{{item.port}}</th>
        <th>{{item.evironment}}</th>
        <td>{{item.serverId}}</td>
        <td>
          <ng-container *ngIf="item.status==1">是</ng-container>
          <ng-container *ngIf="item.status==2">否</ng-container>
        </td>
        <td><a routerLink="/system/server/view" [queryParams]="{id:item.id}">修改</a></td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
<div class="text-right">
  <pagination  class="pagination-sm"   [(ngModel)]="pageIndex" [totalItems]="listData.totalCount" (pageChanged)="onPageChange($event)" ></pagination>
</div>
