<div class="content-heading">
  代理商管理--{{actionType}}
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)"
            novalidate="">
        <!-- START panel-->
        <div class="panel panel-default">
          <div class="panel-body">
            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">名称</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" id="name" formControlName="name"
                         [formControl]="valForm.controls['name']" [(ngModel)]="entity.name"/>
                  <span class="text-danger"
                        *ngIf="valForm.controls['name'].hasError('required') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">必选项</span>
                </div>
              </div>
            </fieldset>

            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">代理商token</label>
                <div class="col-sm-4">
                  <span class="form-control">{{entity.token}}</span>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">客户</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" id="encodingKey" formControlName="encodingKey"
                         [formControl]="valForm.controls['encodingKey']" [(ngModel)]="entity.encodingKey"/>
                  <span class="text-danger"
                        *ngIf="valForm.controls['encodingKey'].hasError('required') && (valForm.controls['encodingKey'].dirty || valForm.controls['encodingKey'].touched)">必选项</span>
                </div>
              </div>
            </fieldset>

            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">电话</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" id="phone" formControlName="phone"
                         [formControl]="valForm.controls['phone']" [(ngModel)]="entity.phone"/>
                  <span class="text-danger"
                        *ngIf="valForm.controls['phone'].hasError('required') && (valForm.controls['phone'].dirty || valForm.controls['phone'].touched)">必选项</span>
                </div>
              </div>
            </fieldset>

            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">联系人</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" id="linkMan" formControlName="linkMan"
                         [formControl]="valForm.controls['linkMan']" [(ngModel)]="entity.linkMan"/>
                  <span class="text-danger"
                        *ngIf="valForm.controls['linkMan'].hasError('required') && (valForm.controls['linkMan'].dirty || valForm.controls['linkMan'].touched)">必选项</span>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">域名</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="domain" formControlName="domain"
                           [formControl]="valForm.controls['domain']" [(ngModel)]="entity.domain"/>

                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">结束时间</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" id="endTime" formControlName="endTime"
                         [formControl]="valForm.controls['endTime']" [(ngModel)]="entity.endTime"/>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">游戏</label>
                <div class="col-sm-6">
                  <ng-container *ngFor="let gameItem of games">
                    <label class="checkbox-inline c-checkbox">
                      <input type="checkbox"  checked="{{gameItem.checked}}" (click)="upChecket($event.target,$event.target.checked)" value="{{gameItem.value}}"/>
                      <span class="fa fa-check"></span> {{gameItem.name}}
                    </label>
                  </ng-container>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">备注</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" id="remark" formControlName="remark"
                         [formControl]="valForm.controls['remark']" [(ngModel)]="entity.remark"/>
                </div>
              </div>
            </fieldset>

            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">状态</label>
                <div class="col-sm-6">
                  <select id="status" name="status" [(ngModel)]='entity.status' class="form-control"
                          [formControl]="valForm.controls['status']" formControlName="status">
                    <option *ngFor="let item of statuses" [value]="item.value">{{item.name}}</option>
                  </select>
                  <span class="text-danger"
                        *ngIf="valForm.controls['status'].hasError('required') && (valForm.controls['status'].dirty || valForm.controls['status'].touched)">必选项</span>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">彩票费率</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" id="cpRate" formControlName="cpRate"
                         [formControl]="valForm.controls['cpRate']" [(ngModel)]="entity.cpRate"/>
                  <span class="text-danger"
                        *ngIf="valForm.controls['cpRate'].hasError('required') && (valForm.controls['cpRate'].dirty || valForm.controls['cpRate'].touched)">必选项</span>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">棋牌费率</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" id="qpRate" formControlName="qpRate"
                         [formControl]="valForm.controls['qpRate']" [(ngModel)]="entity.qpRate"/>
                  <span class="text-danger"
                        *ngIf="valForm.controls['qpRate'].hasError('required') && (valForm.controls['qpRate'].dirty || valForm.controls['qpRate'].qpRate)">必选项</span>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">服务费</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" id="serviceMoney" formControlName="serviceMoney"
                         [formControl]="valForm.controls['serviceMoney']" [(ngModel)]="entity.serviceMoney"/>
                  <span class="text-danger"
                        *ngIf="valForm.controls['serviceMoney'].hasError('required') && (valForm.controls['serviceMoney'].dirty || valForm.controls['serviceMoney'].touched)">必选项</span>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="panel-footer text-center">
            <button class="btn btn-info" type="submit" [disabled]="!valForm.valid">保存</button>
            <a class="btn btn-default" routerLink="/system/proxy/list">取消</a>
          </div>
        </div>
        <!-- END panel-->
      </form>
    </div>
  </div>
  <!-- END row-->

</div>
