<div class="content-heading">
  代理商管理--{{actionType}}
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
        <!-- START panel-->
        <div class="panel panel-default" >
          <div class="panel-body">
            <ng-container *ngIf="entity.pin!=''">
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">pin</label>
                  <div class="col-sm-6">
                    <span class="form-control">{{entity.pin}}</span>
                  </div>
                </div>
              </fieldset>
            </ng-container>
            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">名称</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" id="name" formControlName="name" [formControl]="valForm.controls['name']"  [(ngModel)]="entity.name"/>
                  <span class="text-danger" *ngIf="valForm.controls['name'].hasError('required') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">必选项</span>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">电话</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" id="phone" formControlName="phone" [formControl]="valForm.controls['phone']" [(ngModel)]="entity.phone"/>
                  <span class="text-danger" *ngIf="valForm.controls['phone'].hasError('required') && (valForm.controls['phone'].dirty || valForm.controls['phone'].touched)">必选项</span>
                </div>
              </div>
            </fieldset>

            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">联系人</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" id="email" formControlName="email" [formControl]="valForm.controls['linkMan']" [(ngModel)]="entity.linkMan"/>
                  <span class="text-danger" *ngIf="valForm.controls['linkMan'].hasError('required') && (valForm.controls['linkMan'].dirty || valForm.controls['linkMan'].touched)">必选项</span>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">url</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" id="url" formControlName="url" [formControl]="valForm.controls['url']" [(ngModel)]="entity.url"/>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">备注</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" id="remark" formControlName="remark" [formControl]="valForm.controls['remark']" [(ngModel)]="entity.remark"/>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">状态</label>
                <div class="col-sm-6">
                  <select id="status" name="status"  [(ngModel)]='entity.status' [formControl]="valForm.controls['status']" formControlName="status" >
                    <option *ngFor="let item of statuses"  [value]="item.value">{{item.name}}</option>
                  </select>
                  <span class="text-danger" *ngIf="valForm.controls['status'].hasError('required') && (valForm.controls['status'].dirty || valForm.controls['status'].touched)">必选项</span>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="panel-footer text-center">
            <button class="btn btn-info" type="submit" [disabled]="!valForm.valid">保存</button>
            <a class="btn btn-default" routerLink="/system/proxy/list">取消</a>
          </div>
        </div>
        <!-- END panel-->
      </form>
    </div>
  </div>
  <!-- END row-->

</div>
