<div class="content-heading">
  代理商用户管理--{{actionType}}
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)"
            novalidate="">
        <!-- START panel-->
        <div class="panel panel-default">
          <div class="panel-body">
            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">代理商{{valuePare(entity.proxyId,proxyes)}}</label>
              </div>
            </fieldset>

            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">账户</label>
                <div class="col-sm-6">
                  <ng-container *ngIf="entity.id!=null">
                    <input class="form-control" type="text" id="pin" formControlName="pin"  readonly="true"
                           [formControl]="valForm.controls['pin']" [(ngModel)]="entity.pin"/>
                  </ng-container>
                  <ng-container *ngIf="entity.id==null">
                    <input class="form-control" type="text" id="pin" formControlName="pin"
                           [formControl]="valForm.controls['pin']" [(ngModel)]="entity.pin"/>
                  </ng-container>

                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">电话</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" id="phone" formControlName="phone"
                         [formControl]="valForm.controls['phone']" [(ngModel)]="entity.phone"/>
                  <span class="text-danger"
                        *ngIf="valForm.controls['phone'].hasError('required') && (valForm.controls['phone'].dirty || valForm.controls['phone'].touched)">必选项</span>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">角色</label>
                <div class="col-sm-2">
                  <input class="form-control" type="text" id="roles" formControlName="roles"
                         [formControl]="valForm.controls['roles']" [(ngModel)]="entity.roles"/>
                  <span class="text-danger"
                        *ngIf="valForm.controls['roles'].hasError('required') && (valForm.controls['roles'].dirty || valForm.controls['roles'].touched)">必选项</span>
                </div>
                <label class="col-sm-4">1 运营 2 财务 3 配置 </label>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">备注</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" id="desc" formControlName="desc"
                         [formControl]="valForm.controls['desc']" [(ngModel)]="entity.desc"/>
                  <span class="text-danger"
                        *ngIf="valForm.controls['desc'].hasError('required') && (valForm.controls['desc'].dirty || valForm.controls['desc'].touched)">必选项</span>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">状态</label>
                <div class="col-sm-6">
                  <select id="status" name="status" [(ngModel)]='entity.status' class="form-control"
                          [formControl]="valForm.controls['status']" formControlName="status">
                    <option *ngFor="let item of statuses" [value]="item.value">{{item.name}}</option>
                  </select>
                  <span class="text-danger"
                        *ngIf="valForm.controls['status'].hasError('required') && (valForm.controls['status'].dirty || valForm.controls['status'].touched)">必选项</span>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="panel-footer text-center">
            <button class="btn btn-info" type="submit" [disabled]="!valForm.valid">保存</button>
            <a class="btn btn-default" routerLink="/system/proxyuser/list"  [queryParams]="{proxyId:entity.proxyId}">取消</a>
            <a class="btn btn-default" routerLink="/system/proxyuser/del"  [queryParams]="{proxyId:entity.proxyId,id:entity.id}">取消</a>
          </div>
        </div>
        <!-- END panel-->
      </form>
    </div>
  </div>
  <!-- END row-->

</div>
