<div class="content-heading">
  代理商密码修改
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
        <!-- START panel-->
        <div class="panel panel-default" >
          <div class="panel-body">
            <ng-container *ngIf="entity.pin!=''">
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">名称</label>
                  <div class="col-sm-6">
                    <span class="form-control">{{entity.name}}</span>
                  </div>
                </div>
              </fieldset>
            </ng-container>
            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">密码</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" id="password" formControlName="password" [formControl]="valForm.controls['password']" [(ngModel)]="entity.password"/>
                  <span class="text-danger" *ngIf="valForm.controls['password'].hasError('required') && (valForm.controls['password'].dirty || valForm.controls['password'].touched)">必选项</span>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">确认密码</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" id="vpassword" formControlName="vpassword" [formControl]="valForm.controls['vpassword']" [(ngModel)]="entity.vpassword"/>
                  <span class="text-danger" *ngIf="valForm.controls['vpassword'].hasError('vpassword') && (valForm.controls['vpassword'].dirty || valForm.controls['vpassword'].touched)">必选项</span>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="panel-footer text-center">
            <button class="btn btn-info" type="submit" [disabled]="!valForm.valid">保存</button>
            <a class="btn btn-default" routerLink="/system/proxy/list">取消</a>
          </div>
        </div>
        <!-- END panel-->
      </form>
    </div>
  </div>
  <!-- END row-->
</div>
